{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteAllowShorthand": false
      }
    }
  ],
  "printWidth": 120,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": false
}
