@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --accent-neon: 97 218 251;
    --accent-blue: 79 127 255;
    --accent-purple: 152 118 249;
    --accent-green: 116 209 154;
    --accent-pink: 230 116 206;
    --accent-red: 254 92 91;
    --accent-yellow: 250 222 106;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .theme-dark {
    --dark-900: 24 23 28;
    --dark-800: 29 28 33;
    --dark-700: 36 35 42;
    --dark-600: 40 39 47;
    --dark-500: 52 51 61;
    --dark-400: 56 56 67;
    --dark-300: 54 53 64;
    --dark-200: 68 67 81;
    --dark-100: 104 102 122;

    --text-primary: 235 235 235;
    --text-soft: 112 114 113;

    --black-100: 16 16 16;
    --black-200: 23 23 24;
    --black-300: 36 36 38;

    --foreground: 235 235 235;
    --background: 16 16 16;
  }

  .theme-light {
    --dark-900: 218 218 231;
    --dark-800: 209 209 224;
    --dark-700: 194 194 214;
    --dark-600: 179 179 204;
    --dark-500: 163 163 194;
    --dark-400: 148 148 184;
    --dark-300: 133 133 173;
    --dark-200: 117 117 163;
    --dark-100: 102 102 153;

    --text-primary: 51 51 51;
    --text-soft: 119 119 119;

    --black-100: 249 249 250;
    --black-200: 241 241 244;
    --black-300: 227 227 232;

    --foreground: 0 0 0;
    --background: 200 200 200;
  }
}
